<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>anadirComentario</servlet-name>
        <servlet-class>Servlet.anadirComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>Servlet.indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AporteServlet</servlet-name>
        <servlet-class>Servlet.AporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VariarPuntuacionServlet</servlet-name>
        <servlet-class>Servlet.VariarPuntuacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfilServlet</servlet-name>
        <servlet-class>Servlet.VerPerfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anadirComentario</servlet-name>
        <url-pattern>/anadirComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AporteServlet</servlet-name>
        <url-pattern>/AporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VariarPuntuacionServlet</servlet-name>
        <url-pattern>/VariarPuntuacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfilServlet</servlet-name>
        <url-pattern>/VerPerfilServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            indexServlet
        </welcome-file>
    </welcome-file-list>
</web-app>
